<h3> Add a discussion </h3>
<p><%#= link_to 'Add Task', new_project_task_path %>

<div class= "form-group">
  <%= form_for [@project, @discussion] do |f| %>
  
  <div class="form-field">
    <%= f.label :topic %><br>
    <%= f.text_field :topic , class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title , class: "form-control" %>
  </div>

  <div class="field">
    <%= f.label :body %><br>
    <%= f.text_area :body , class: "form-control"%>
  </div>
      
      <%# hidden_field_tag "discussion[user_ids][]", nil %>
      <%# User.all.each do |c| %>
        <%#= check_box_tag "discussion[user_ids][]", c.id, @discussion.topics.include?(c.id), id: dom_id(c) %>
        <%#= label_tag dom_id(c), c.email %>
      <%#end%>

    <div class="actions">
      <%= f.submit "Submit Reply", class: "btn btn-default"  %>
   </div>

<% end %>
</div>