


  <% @project.discussions.each do |discussion| %>
      <div class="well"><p>  
      <strong>Title:</strong>
      <%= discussion.title %>
    </p>
    <p>
      <strong>User:</strong>
      <%= discussion.user.email %>
    </p>
    <p>
      <strong>body:</strong>
      <%= discussion.body %>
    </p>
      <%= link_to 'Destroy',project_discussion_path(@project, discussion), method: :delete, data: { confirm: 'Are you sure?' } %>

<h4> Comments </h4>
  <% discussion.comments.each do |comment| %>
  <p>
    <strong>body:</strong>
    <%= comment.body %>
  </p>
  <p>
    <strong>comment by:</strong>
    <%= comment.user.email %>
  </p>
  <p>
    <strong>date posted:</strong>
    <%= comment.created_at %>
  </p>

  <%= link_to 'Destroy',project_discussion_comment_path(@project, discussion, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %> 

  <div class="form-group">  
  <%= form_for [@project, discussion, @comment] do |f| %>
    <%= f.label :body %><br>
    <%= f.text_area :body , class: "form-control" %>

    <%= f.submit "Submit Comment", class: "btn btn-default" %>
  <% end %>  </div>

    <% end %>


